html {
  font-size: 18px;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}

.App {
  font-family: "Work Sans", sans-serif;
}

.App h3 {
  line-height:  4rem;
  padding: 0.66rem 0;
  text-align: center;
  background-color: #851b1b;
  font-family: Poppins, sans-serif;
  font-size: 2.5rem;
  color: #fff;
}
.spinner{
  padding-top: 3.4rem;
}
.loader {
  position: fixed;
  margin-top: 8px;
  left: 50%;
  margin-left: -41px;
  border: 14px solid #f3f3f3;
  border-top: 14px solid #851b1b;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
