a {
  color: inherit;
  text-decoration: none;
}

.Business {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22rem;
  margin: 0 0.5rem 2.3rem 0.5rem;
  padding: 0.5rem;
  background: white;
}

.Business .image-container {
  height: 22rem;
  margin-bottom: 1rem;
}
.yelp-name {
  margin-bottom: 1rem;
}

.yelp-name h1 {
  font-family: "Rowdies", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  color: black;
}

.yelp-name img {
  width: 6rem;
  height: 3rem;
}

.Business-information {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Business-information p {
  font-size: 1rem;
  line-height: 1rem;
}

.business-address {
  text-align: left;
}

.Business-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.Business-reviews h2 {
  color: #cca353;
  font-weight: 600;
}

.star-assets {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.star-assets img {
  width: 50%;
  margin: 0.2rem 0rem;
}

@media only screen and (max-width: 560px) {
  .star-assets img {
    width: 40%;
    margin: 0.2rem 0rem;
  }
}
